.glowing-border{
    border: 2px solid #999;
    border-radius: 5px;
    color: black;
    width: 25%;
}

.glowing-border:focus { 
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}

.memberType{
	text-align:left;
	color: black;
}