---
layout: default
title: challenges 
permalink: /challenges/
---

{% include intro.html %}
<!-- challenges Grid Section -->

<section id="challenges">
<div class="container"> 
    <div class="row">
         <div class="col-lg-12 text-center">
             <h2>Weekly Challenges</h2>
             <hr class="star-primary">
             <h3>Why? Because they're fun!</h3>

           <blockquote style="color:red">"Most good programmers do programming not because they expect to get paid or get adulation by the public, but because it is <B>fun</B> to program."
            <I>- Linus Torvalds</I></blockquote>              <h3> Challenge and push yourself beyond your limits. You'll be surprised with what you can do if you put your mind to it. </h3> </div>
            <br>
            <div style="text-align:center">
          <a data-toggle="modal" data-target="#myModal2" class="btn btn-default" role="button">Rules</a>
          <a data-toggle="modal" data-target="#myModal" class="btn btn-default" role="button">Solutions</a>
        </div>
              <h3>So what are you waiting for? Get those competitive skills to work and attempt the first challenge below: </h3>


            
             
         
    </div>
 <hr>
<div class="row">
      {% for challenge in site.posts %}
      {% if challenge.categories contains 'challenges' %}
    <div class="col-sm-6 col-md-4 partners-item">
    <div class="thumbnail">
      <img src="/img/challenges/{{challenge.img}}" class="img-responsive" >
      <div class="caption">
        <h3>{{ challenge.title }}</h3>
        <p>{{ challenge.description }}</p>
        <p><a href="{{ challenge.url }}" class="btn btn-default" role="button">Visit &raquo;</a></p>
      </div>
    </div>
  </div>
  {% endif %}
           {% endfor %}

</div>

<div class="projects-modal modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Rules to participate!</h2>
                            <hr class="star-primary">
                      
  <div >
              <div style="text-align:left">
              - You need to be an Effat Student<br>
              - You need to submit your solution before the next challenge is announced.
            </div>
              <br><br>
              Note: <br><br>
              <div style="text-align:left">
              - Every Thursday a challenge will be posted here with a full description on what to do to participate. It could be anything from writing a routine, developing a small game, to solving problems on a command line. <br>
              - Required code or screenshots need to be submitted to the provided email.<br>
              - At the end of each month, the student who attempts and succeeds in all the challenges wins a special prize!
            </div>
          </div>

 </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 

</div>

<div class="projects-modal modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Solutions Archive</h2>
                            <hr class="star-primary">
                      
  <div >
             <div class="row">
      {% for solution in site.posts %}
      {% if solution.categories contains 'solution' %}
    <div style="text-align:center">
        <h3><a href="{{solution.url }}" class="btn btn-default" role="button">{{solution.title }}</a></h3>
  </div>
  {% endif %}
           {% endfor %}

</div>
          </div>

 </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 

</div>



</section>


 
