<div id="join" class="banner">

    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
                    <h2> I’m interested. Can I sign up?</h2>
                       <hr class="intro-divider">
<p class="lead"> Of course you can! It doesn’t matter if your programming journey has just begun or if you’re already a programming genius - you’re most than welcome to join us.</p>
                 
                </div>
            <div class="col">
              <ul class="list-inline intro-social-buttons text-center">
                    <li>
                      <!-- Button trigger modal -->
                      <button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#myModal"> Join Us Today! </button>
                     </li>
              </ul>
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /.banner -->


<!-- projects Modals -->
<div class="projects-modal modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Join Us!</h2>
                            <hr class="star-primary">

                             <form role="form" action="http://formspree.io/yaziz@effat.edu.sa" id="form" name="form" method="post">

                            <div class="form-group">
                                <label for="fullname" class="control-label">Enter your full name, please:</label><br>
                                <input class="glowing-border" type="text" class="form-control"  name="name" id="fullname" placeholder="Full Name">
                            </div>

                            <div class="form-group">
                                <label class="text">Enter your Effat University Email Address:</label><br>
                                <input class="glowing-border" type="email" name="_replyto" id="effatemail" placeholder="Effat Email">
                            </div>

                             <div class="form-group">
                                <label class="text">Enter your Effat University Student ID:</label><br>
                                <input class="glowing-border" type="text" name ="effatid" id="id" placeholder="Effat ID">
                            </div>

                            <div class="form-group">
                                <label class="text">Enter your Github Username (if you've got one):</label><br>
                                <input class="glowing-border" type="text" name ="username" id="github" placeholder="Github Username">
                            </div>


                            <div class="form-group" id="membership">
                                <input class="" type="radio" name="type" value="Full Member" id="fullmember"> Full Member
                                <input class="" type="radio" name="type" value="Partial Member" id="partialmember"> Partial Member
                                <div>
                                <a data-toggle="modal" data-target="#myModal2">What's the difference?</a>
                                </div>
                            </div>

                            </form>


          <a href="javascript:%20check_empty()" id="submit"><button type="button" class="btn btn-default"> Register</button></a>

                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <div class="projects-modal modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Full Member</h2>
                            <hr class="star-primary">
                            <ol class="memberType">
                                <li>Can organise events, workshops and meetings</li>
                                <li>Can contact speakers</li>
                                <li>Can be a leader for a group (ex. game development group or mobile development group)</li>
                                <li>Can run for office positions</li>
                                <li>Receives 8 value points for being a club member + value points for participating in the partial member activities (listed below)</li>
                            </ol>

                            <h2>Partial Member</h2>
                             <hr class="star-primary">
                             <ol class="memberType">
                                <li>Can participate in challenges and projects</li>
                                <li>Can write and post blog posts to the website</li>
                                <li>Can contribute to the website through open source</li>
                                <li>Can give suggestions for events or workshops</li>
                                <li>Can attend workshops</li>
                                <li>Receives points depending on the level of involvement</li>
                            </ol>

 </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        

        