
<!-- Header -->
<div class="intro-header">

    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>Welcome to EUTS</h1>
                    <hr class="intro-divider">
                    <p class="lead">If you've got a passion for programming or are just a newbie looking for a place to grow, you've come to the right place. </p>
                    
                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.intro-header -->